/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --color-bg: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-primary: #2563EB;
  --color-accent: #14B8A6;
  --color-accent-alt: #A78BFA;
  --color-text: #1E293B;
  --color-text-invert: #F1F5F9;
  --color-border: #E2E8F0;

  --color-alert-low: #FACC15;
  --color-alert-medium: #F97316;
  --color-alert-out: #DC2626;
} */
